
 body{
	 background-image: url(images/silverware.jpg);
	 color:#404040 ;
	 font-size : 11pt;
	 font-family: Georgia,Garamond, serif; 
 }
 a{color:#A4A400 ;
 }
 
 .popo{
	 text-decoration:underline;
	 color:#A4A400;
	 background:#F0F0F0 ;
	 font-family:Lucida Sans Unicode, Helvetica, Arial ,sans-serif ;
	 font-size:18pt;
	 font-weight:normal;
	 letter-spacing:0.25em;
 }
 
 .popo1{
	 text-decoration:underline;
	 color:#A4A400;
	 text-align:center;
	 background:#F0F0F0 ;
	 font-family:Lucida Sans Unicode, Helvetica, Arial ,sans-serif ;
	 font-size:22pt;
	 font-weight:bold;
	 letter-spacing:0.25em;
 }
 #pop{
	 list-style-type:none;
 }
 .Menu{
	 list-style-image:url(images/pie_icon.gif);
 }
 
 a:link {
    color:  #A4A400;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
blockquote{
	 background-color:#FFFFA8;
	 font-style:italic;
}
.lolo{
	float: right;
    text-align: right;
}
 #end{
	 float:right;
	 text-align:right;
 }
 