/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2018, 1:29:37 PM
    Author     : Wilfrid Jules 
	
*/

body {
    margin-left: 20%;
    margin-right: 20%;
}
body, input, button {
    font-family: "Time new roman",sans-serif;
    font-size: 20pt;
}
div {
    margin: 0.5em;
}

